body {
  font: 13px/1.65 Roboto, Verdana, sans-serif;
  padding: 8px;
}

#mapdiv{
  position: absolute;
  top: 60px;
  left: 10px;
  height: calc(100vh - 70px);
  width: calc(100vw - 20px);
  background-color: #fff;
  border: 1px #999 solid;
}

div.legend {
  background-color: #fff;
  max-width: 130px;
  padding: 0 15px;
}

div.legend p {
  font-size: 10px;
  font-weight: bold;
}

div.maillage {
  float: right;
  font-size: 16px;
  padding-top: 10px;
  width: 160px;
  text-align: right;
}

h1 {
  font-weight: normal;
  margin-left: 2px;
  max-width: calc(100vw - 192px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
