<html>
<head>
    <meta charset="utf-8" />
    <title>Cartographie thématique et analyse spatiale</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='classybrew.min.js') }}"></script>
</head>
<body>
    <div class="maillage">26 cantons suisses</div>
    <h1>Grandes entreprises versus petites entreprises</h1>
    <div id="mapdiv"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
